PORT=3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/mqtt

MQTT_URL=mqtts://your-broker.emqxsl.com:8883
MQTT_CERTIFICATE=cert/emqxsl-ca.crt
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=assessment-backend
MQTT_TOPIC=test
MQTT_QOS=0
